# Override GoDaddy defaults that inhibit URL rewriting
Options -MultiViews
RewriteEngine On

# Rewrite URLs to remove www from domain name
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
