@font-face {
   font-family: 'Wendy One';
   font-style: regular;
   font-weight: 400;
   src: url('file:///C:/Users/andrejeller/Documents/Mobirise/projects/andrejeller_Games//fonts/Wendy One/regular.ttf') format('truetype');
}
