@font-face {
   font-family: 'Archivo Black';
   font-style: regular;
   font-weight: 400;
   src: url('file:///C:/Users/andrejeller/Documents/Mobirise/andrejeller.com/andrejeller.github.io//fonts/Archivo Black/regular.ttf') format('truetype');
}
