.loader
  .loader_overlay
  .loader_cogs
    .loader_cogs__top
      -(1..3).each do
        .top_part
      .top_hole
    .loader_cogs__left
      -(1..3).each do
        .left_part
      .left_hole
    .loader_cogs__bottom
      -(1..3).each do
        .bottom_part
      .bottom_hole <!-- lol -->
    %p loading
  %h1 Cog loader
  %h2 Created in pure css