@font-face {
   font-family: 'Anton';
   font-style: regular;
   font-weight: 400;
   src: url('file:///C:/Users/andrejeller/AppData/Local/Mobirise.com/Mobirise/projects/project-2017-11-30_000221/fonts/Anton/regular.ttf') format('truetype');
}
